<h1>index</h1>
<% if user_signed_in? %>
<table  class="table table-hover">
<tr>
	<th>Cost</th>
	<th>Kind</th>
	<th>Time</th>
</tr>	
<%@item.each do |i|%>
<tr>
	<td><%=i.cost%></td>
	<td><%=i.kind%></td>
	<td><%=i.created_at%> </td>
</tr>
<%end%>
</table>
<%= paginate @item %>
<% else %>
<h1>Please Log in First <%= link_to "登入", new_user_session_path %></h1>
<% end %>